<div class="card shadow-sm">
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <img [src]="randomBeer.imageUrl" [alt]="randomBeer.tagline" onerror="this.src='../../assets/images/coming-soon.jpg'">
    </div>
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="name">
            {{randomBeer.name}}
          </div>
          <div class="tagline">
            <div>
              {{randomBeer.tagline}}
            </div>
            <div>
              Alcohol by volume: {{randomBeer.abv}}
            </div>
          </div>
          <hr>
          <div>
            {{randomBeer.description}}
          </div>
        </div>
        <!-- <div class="card-footer">
          <div class="d-flex justify-content-between" role="group" aria-label="buttons">
            <div class="col-12 col-md-5">
              <button type="button" class="btn btn-info btn-block" (click)="onRandomBeerClick()">Another Beer</button>
            </div>
            <div class="col-12 col-md-5">
              <button type="button" class="btn btn-info btn-block" (click)="onNonAlcoholicBeerClick()">Random non alcoholic beer</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>